{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Messages -->

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<section class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        {% if cart_items %}

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>

        <div class="card rounded-3 mb-4 cart">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">

              {% for item in cart_items %}

              <div class="col-md-2 col-lg-2 col-xl-2">
                {% if item.product.image %}
                <img src="{{ item.product.image.url }}" class="img-fluid rounded-3" alt="book cover">
                {% else %}
                <img class="card-img-top img-fluid" src="{% static 'media/blank.jpg' %}" alt="{{ product.title }}">
                {% endif %}
              </div>

              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Item</p>
                <p>
                  <span class="text-muted">{{ item.product.title }} by {{ item.product.author }}</span></p>
              </div>

              <!--View and edit quantity -->
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Quantity</p>
                <form action="{% url 'edit_cart' item.item_id %}" class="form" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control-sm" type="number" name="quantity" value="{{ item.quantity }}" min="1"
                      max="10" data-item_id="{{ item.item_id }}">
                    <input type="submit" class="btn btn-link editbtn" value="update">
                  </div>
                </form>
              </div>

              <!--Price -->
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <p class="lead fw-normal mb-2">Item price</p>
                <h5 class="mb-0">€ {{ item.product.price }}</h5>
              </div>

              <!-- Remove item -->
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="{% url 'remove_from_cart' item.product.id %}" class="text-danger"><i
                    class="fas fa-trash fa-lg"></i></a>
              </div>

              {% endfor %}

            </div>
          </div>
        </div>

        <!--Prices and checkout-->
        <div class="prices">
          <h6>Cart Total: €{{ total|floatformat:2 }}</h6>
          <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
          <h5>Total: €{{ grand_total|floatformat:2 }}</h5>
        </div>

        {% if free_delivery_delta > 0 %}
        <p>
          Free delivery if you spend €{{ free_delivery_delta }} more!
        </p>
        {% endif %}

        <br>
        <a href="{% url 'checkout' %}">
        <button type="button" class="btn btn-block btn-lg checkout">Secure
          Checkout</button>
        </a>

        <!--If cart is empty-->
        {% else %}

        <p>Your cart is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-lg addcart">
          <i class="fas fa-chevron-left"></i>
          Browse books
        </a>

        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}

  <!-- Success messages timeout -->
  <script>
    setTimeout(function () {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 3000);
  </script>