{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Messages -->

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col">
          <img src="{% static 'media/booksbackground2.jpg' %}" class="img-fluid" alt="Shopping Bag">
        </div>
        <div class="col">
            <p style="text-align: center;">
              Browse and purchase books accross different categories 
              <br>
              <a class="btn addcart" href="{% url 'products' %}" role="button">Shop now!</a>
            </p>  
              <br>
            <p style="text-align: center;">
              Create an account to checkout and access your profile
              <br>
              <a class="btn addcart" href="{% url 'account_signup' %}" role="button">Register here</a>
            </p>
            
        </div>
      </div>
      <br>
</div>

{% endblock %}

  <!-- Success messages timeout -->
  <script>
    setTimeout(function () {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 3000);
  </script>