{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Messages -->

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 style="text-align: center;">
        Welcome to the book shop!
      </h3>
      <p style="text-align: center;">
        Create an account to have a profile, leave reviews and more!
        <br>
        <a class="btn addcart text-uppercase" href="{% url 'account_signup' %}" role="button">Register here</a>
      </p>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p style="text-align: center;">
        Browse and purchase books accross different categories. Free delivery if you spend €30
        <br>
        <a class="btn addcart text-uppercase" href="{% url 'products' %}" role="button">Shop now</a>
      </p>
      <img src="{{ MEDIA_URL }}booksbackground.jpg" alt="Book Shelf" class="img-fluid">
    </div>
  </div>
  <br>

  <!-- Newsletter -->
  <h3>Subscribe!</h3>
  <p style="text-align: center;">Get exclusive offers and information on new releases by subscribing to our newsletter</p>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">
    <form
      action="https://gmail.us8.list-manage.com/subscribe/post?u=3fc545c2f4bcf3bf587be58d5&amp;id=1e226dc58c&amp;f_id=008865e0f0"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
          <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
        </div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_3fc545c2f4bcf3bf587be58d5_1e226dc58c" tabindex="-1" value=""></div>
        <div class="optionalParent">
          <div class="clear foot">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            <p class="brandingLogo"><a href="http://eepurl.com/io3OSQ"
                title="Mailchimp - email marketing made easy and fun"><img
                  src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
<!--End mc_embed_signup-->
</div>

{% endblock %}

<!-- Success messages timeout -->
<script>
  setTimeout(function () {
    let messages = document.getElementById('msg');
    let alert = new bootstrap.Alert(messages);
    alert.close();
  }, 3000);
</script>

{% block postloadjs %}
<!-- Mailchimp js -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
    fnames[1] = 'FNAME';
    ftypes[1] = 'text';
    fnames[2] = 'LNAME';
    ftypes[2] = 'text';
    fnames[3] = 'ADDRESS';
    ftypes[3] = 'address';
    fnames[4] = 'PHONE';
    ftypes[4] = 'phone';
    fnames[5] = 'BIRTHDAY';
    ftypes[5] = 'birthday';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}
