{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<!-- Messages -->

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<h3>Secure Checkout</h3>

<div class="container">
    <div class="row">
        <div class="col-md">
            <form method="POST">
                <div class="form-row">
                    <div class="mb-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save" class="form-control">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm">
            {% include 'includes/display_cart.html' %}

            <!-- Display a payment form / stripe docs  -->
            <form id="payment-form">
                <div id="link-authentication-element">
                    <!--Stripe injects the Link Authentication Element-->
                </div>
                <div id="payment-element">
                    <!--Stripe injects the Payment Element-->
                </div>
                <button id="submit">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Pay now</span>
                </button>
                <div id="payment-message" class="hidden"></div>
            </form>
        
            <!--      {% include 'includes/payment_box.html' %} -->
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
            <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>

                <!-- Used to display form errors -->
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
</form>
        </div>
    </div>
</div>

{% endblock %}

<!-- Success messages timeout -->
<script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 3000);
</script>

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}