{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Messages -->

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<h3>Secure Checkout</h3>

<div class="container">
    <div class="row">
        <div class="col-md">
            <form method="POST">
                <div class="form-row" id="payment-form">
                    <div class="mb-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save" class="form-control">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm">
            {% include 'includes/display_cart.html' %}

    <!--      {% include 'includes/payment_box.html' %} -->  
    <button class="button is-primary" id="submitBtn">Purchase!</button>
        </div>
    </div>
</div>

{% endblock %}

<!-- Success messages timeout -->
<script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 3000);
</script>


<script src="{% static 'checkout/js/checkout.js' %}"></script>
