{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<!-- Messages -->

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<h3>Secure Checkout</h3>

<div class="container">
    <div class="row">
        <!--Delivery and payment info-->
        <div class="col-md">
            {% include 'includes/payment_box.html' %}
            <br>
        </div>

        <!--Cart details-->
        <div class="col-sm">
            {% include 'includes/display_cart.html' %}
        </div>
    </div>
</div>

{% endblock %}

<!-- Success messages timeout -->
<script>
    setTimeout(function () {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 3000);
</script>

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}