.header {
    background-image: url("../media/booksfaded.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #1C1D21;
}

h1 {
    text-shadow: 2px 2px 5px #D95950;
  }

.links {
    text-decoration: none;
    color:  #FEFDFF;
    background-color: #D95950;
    text-shadow: 1px 1px 3px #1C1D21;
}

.links:hover {
    text-decoration: none;
    color:  #D95950;
    background-color: #FEFDFF;
    text-shadow: none;
}

.topnav {
    background-color: #D95950;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F2F4F3;

}

.product {
    background-color: #F2F4F3;
    border: 1px solid #1C1D21;
    padding: 2px;
    margin: 2px;
}

footer {
    margin-top: auto;
    color:  #FEFDFF;
}

.block {
    background-color: aqua;
}

h3, h4 {
    text-align: center;
    color: #D95950;
}

.bookdetails {
    background-color: #F2F4F3;
    border: none;
    color: #1C1D21;
}

.addcart {
    background-color: #D95950;
    color: #FEFDFF;
    align-items: center;
    font-weight: 480;
}

.addcart:hover {
    color:  #F0C808;
    text-decoration: none;
}

.image {
    max-width: 250px;
    max-height: 350px;
}

.cart {
    border: 2px solid #D95950;
    background-color: #F2F4F3;
}

.checkout {
    background-color: #F0C808;
    color:#1C1D21;
}

.prices {
    color: #1C1D21;
    font-weight: bolder;
}

.editbtn {
    color: #D95950;
    text-decoration: none;
}

.editbtn:hover {
    text-decoration: none;
    color: #D95950; 
}