.header {
    background-image: url("https://res.cloudinary.com/dfxa3zs1q/image/upload/c_scale,w_1034/v1680718358/static/media/booksfaded.6d7806c569f5.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: #1C1D21;
}

h1 {
    text-shadow: 2px 2px 5px #D95950;
  }

.homeimg {
    opacity: 0.9;
}

.links {
    text-decoration: none;
    color:  #FEFDFF;
    background-color: #D95950;
    text-shadow: 1px 1px 3px #1C1D21;
}

.links:hover {
    text-decoration: none;
    color:  #D95950;
    background-color: #FEFDFF;
    text-shadow: none;
}

.topnav {
    background-color: #D95950;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F2F4F3;
    font-family: 'Roboto', sans-serif;

}

.product {
    background-color: #F2F4F3;
    border: 1px solid #1C1D21;
    padding: 2px;
    margin: 2px;
}

footer {
    margin-top: auto;
    color:  #FEFDFF;
}

.block {
    background-color: aqua;
}

h3, h4 {
    text-align: center;
    color: #D95950;
}

.bookdetails {
    background-color: #F2F4F3;
    border: none;
    color: #1C1D21;
}

.addcart {
    background-color: #D95950;
    color: #FEFDFF;
    align-items: center;
    font-weight: 480;
}

.addcart:hover {
    color:  #F0C808;
    text-decoration: none;
}

.image {
    max-width: 250px;
    max-height: 350px;
}

.cart {
    border: 2px solid #D95950;
    background-color: #F2F4F3;
}

.checkout {
    background-color: #F0C808;
    color:#1C1D21;
}

.prices {
    color: #1C1D21;
    font-weight: bolder;
}

.editbtn {
    color: #D95950;
    text-decoration: none;
}

.editbtn:hover {
    text-decoration: none;
    color: #D95950; 
}

.productimg {
    width: 100%;
    height: 28vw;
    object-fit: cover;
}

/* Mailchimp */

#mc_embed_signup {
    background: #F2F4F3;
    border-top: 1px solid #D95950; 
    font: 14px Helvetica, Arial, sans-serif;
    max-width: 600px;
    margin: auto;
}