{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <h4> All Books </h4>

  <!--Add products-->
  {% if request.user.is_superuser %}
  <a href={% url 'createproduct' %} class="button btn-lg active" role="button" aria-pressed="true">Add</a>
  {% endif %}

  <!--Display products-->
  <div class="row">
    {% for product in products %}
    <div class="col-6 col-sm-3 text-center" style="display: flex;">
      <div class="card product">

        {% if product.image %}
        <img src="{{ product.image_url }}" class="card-img-top img-fluid productimg" alt="{{ product.title }}">
        {% else %}
        <img class="card-img-top img-fluid productimg"
          src="https://res.cloudinary.com/dfxa3zs1q/image/upload/c_scale,w_942/v1681585259/blank2_oqq9xh.webp"
          alt="{{ product.title }}">
        {% endif %}

        <h5 class="card-title">{{ product.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ product.author }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ product.category }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">€{{ product.price }}</h6>
        <a href="{% url 'productdetail' product.id %}" class="card-link">See more</a>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br>


{% endblock %}